.table{
	width: 100%;
	border-bottom: 2px solid var(--border-color);
}


.table :is(td, th){
	text-align: end;
	line-height: 32px;
	font-size: 12px;
}

.table th{

	cursor: pointer;
	user-select: none;
	text-wrap: nowrap;

}


.table :is(td, th):first-child{
	text-align: start;
	padding-left: 8px;
}

.cash__tab :is(td, th):last-child{
	padding-right: 16px;
}

.table td{
	font-family: var(--secondary-font);
}

.table td:first-child{
	font-weight: 600;
	font-size: 14px;
}

.table tr{
	border-bottom: 1px solid var(--bg-color);
	transform: translate(0);
	clip-path: inset(0);
}

.table thead .thead_tr{ 
	transform: translate(0);
	clip-path: inset(0);
	cursor: pointer;
	border-top: 2px solid var(--border-color);
}

.table thead .row_active{
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 0 0 2px rgba(20, 110, 176, 1), 0 0 10px 4px #146EB033;
	box-shadow: inset 0 0 0 2px rgba(20, 110, 176, 1), 0 0 10px 4px #146EB033;
}

.row_active{
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 0 0 2px rgba(20, 110, 176, 1), 0 0 10px 4px #146EB033;
	box-shadow: inset 0 0 0 2px rgba(20, 110, 176, 1), 0 0 10px 4px #146EB033;
}

.trump__tab :is(td, th):last-child{
	padding-right: 56px;
}


.portfolio{
	border-bottom: 1px solid var(--border-color);
}

.filter__arrow{
	transform: rotate(180deg);
	padding-right: 4px;
}

.filter__arrow_active{
	padding-left: 4px;
}

.portfolio tfoot tr{
	border: none;
}

.portfolio{
	border-bottom: 1px solid var(--border-color);
}

.trump__tab tbody tr{
	transform: translate(0);
	clip-path: inset(0);
	cursor: pointer;
	width: 100%;
}



.hover-overlay {
	display: none;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	color: #fff;

	align-items: center;
	justify-content: end;
	padding-right: 10px;
	/* cursor: pointer; */
}
 
.hover-overlay button {
	background-color: #fff;
	color: #000;
	border: none;
	padding: 4px 15px;
	cursor: pointer;
	border-radius: 3px;
}

@media (max-width: 1310px) {
	.table :is(td, th){
		font-size: 11px;
	}
}


